html {
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

body {
    overflow-x: hidden;
    font-weight: normal;
    width: 100%;
    height: 100%
}

p {
    font-size: 1em;
    font-weight: 300;
}

b, strong {
    font-weight: 700;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #038bb1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    line-height: 1.3;
}

h1 {
    font-weight: 400;
}

h2 {
    
}

h3 {
    margin-bottom: 21px;
}

h4 {
    
}

h5 {
    
}

.valign {
    vertical-align: middle
}

.huge {
    font-size: 4em;
}


.overflow {
    overflow: hidden;
}

.tocenter {
     margin:0 auto;
 }

.btn {
    border-radius: 6px;
    font-family: Lato, "Helvetia Neue", Helvetica,Arial,sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

.prol {
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    font-weight:bold;
    background-color: #909090;
    color: #fff;
    margin-left: 10px;
    position: absolute;
}

/* Button Styles */

.btn-default {
    background-color: #777;
    border-color: #777;
    
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    background-color: #595959;
    border-color: #595959;
}



.btn-minor {
    color: #ffffff;
    background-color: #5fbcd3;
    border-color: #5fbcd3;
    
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.btn-minor:hover, .btn-minor:focus, .btn-minor.focus, .btn-minor:active, .btn-signsup.active, .open>.dropdown-toggle.btn-minor {
    background-color: #0096bc;
    border-color: #0096bc;
}

.btn-signup {
    color: #ffffff;
    background-color: #f39c12;
    border-color: #f39c12;
    
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.btn-signup:hover, .btn-signup:focus, .btn-signup.focus, .btn-signup:active, .btn-signup.active, .open>.dropdown-toggle.btn-signup {
    background-color: #e67e22;
    border-color: #e67e22;
}

.btn-currency {
    color: #ffffff;
    background-color: #5e5e5e;
    border-color: #828282;
    
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.btn-currency:hover, .btn-currency:focus, .btn-currency.focus, .btn-currency:active, .btn-currency.active, .open>.dropdown-toggle.btn-currency {
    background-color: #4a4a4a;
    border-color: #828282;
}

.btn-nav-signup {
    
}


.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}


.img-centered {
    margin: 0 auto;
}

.startinfo {
    padding-top:100px;
    color:#fff;
    font-weight:300;
}

.logo {
    width: 200px;
    height: auto;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;    
}


.parallax {
    position: absolute;
}

header {
    text-align: center;
    background-image: linear-gradient(141deg, #1A99BB 0%, #5CBBD0 50%);;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height:640px;
    overflow: hidden;
    position: relative;
}

header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
}

header .intro-text .skills {
    padding-top:20px;
    font-weight: 300;
    color: #fff;
}

.navbar-default {
      background: rgb(255, 255, 255); /* Fall-back for browsers that don't support rgba */
      background: rgba(255, 255, 255, 1);
          -webkit-transition: background 0.5s linear;
          -moz-transition: background 0.5s linear;
          -ms-transition: background 0.5s linear;
          -o-transition: background 0.5s linear;
          transition: background 0.5s linear;
}

/* Navbar Defaults */
.navbar {
    text-transform: uppercase;
    font-family: Lato, "Helvetia Neue", Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.navbar-brand {
    padding: 5px 15px;
}

.navbar-nav {
    margin: 0px -15px;
}

.navbar-default .navbar-nav>li>a {
    color: #53BBD2;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background-color: #777777;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #777777;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #EEE;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

.wire {
    color: white;
    background: #5fbcd3; 
    background-image: url("../img/connectors_layer2.png");
    background-position: 600px 200px; 
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 75%;
}

section {
    padding: 100px 0;
}

section.simple {
    padding-bottom: 150px;
    color: #fff;
    text-transform: normal;
    background: rgba(138,138,138,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(138,138,138,1) 0%, rgba(120,120,120,1) 52%, rgba(80,80,80,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(138,138,138,1)), color-stop(52%, rgba(120,120,120,1)), color-stop(100%, rgba(80,80,80,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(138,138,138,1) 0%, rgba(120,120,120,1) 52%, rgba(80,80,80,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(138,138,138,1) 0%, rgba(120,120,120,1) 52%, rgba(80,80,80,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(138,138,138,1) 0%, rgba(120,120,120,1) 52%, rgba(80,80,80,1) 100%);
    background: radial-gradient(ellipse at center, rgba(138,138,138,1) 0%, rgba(120,120,120,1) 52%, rgba(80,80,80,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a8a8a', endColorstr='#505050', GradientType=1 );
}

section.simple h1 {
    font-size: 2.7em;
    font-weight:300;
    text-transform: initial;
}

section.simple h4 {
    text-transform: initial;
}

.simple .img-holder {
    min-height: 300px;
    max-width: none;
}

.simple .img-product {
    position: absolute;
    left: -50px;
    top: 0;
}


section.about {
    color: #909090;
    font-family: sans-serif, Helvetica;
    background: #f5f5f5;
    padding: 100px 0px;
}

section.about h3 {
    color: #111;
    font-weight:500;
    font-size: 1.2em;
    padding-bottom: 20px;
}

section.about h3 img {
    width: 26px;
    height: 26px;
    margin-right: 0.2em;
    margin-top: -5px;
}

section.about ul {
    padding-left: 40px;
    padding-right: 20px;
    margin-bottom: 50px;
    text-align: center;
    list-style:none;
}

section.about ul li {
    color: #777;
    font-family: sans-serif;
    font-size: 0.9em;
    margin-bottom: 14px;
}

section.about .col-xs-4 {
    padding-bottom: 50px;
}

section.contact {
    padding-top: 150px;
}

section.contact p{
    font-family:sans-serif;
    font-size: 0.9em;
    color: #777;
}

section.contact h5 {
    font-family:sans-serif;
    font-size: 0.9em;
    color: #ccc;
}

section.contact h3{
    margin-bottom: 40px;
}

section.faq {
    padding-top: 150px;
}

section.faq p{
    font-family:sans-serif;
    font-size: 0.9em;
    color: #777;
}

section.faq h2{
    margin-bottom: 40px;
}

.panel-title {
    font-family:sans-serif !important;
}

.panel-body {
    padding: 15px 15px 0px 15px;
}

@media(max-width:767px) {
    section {
        padding: 75px 0;
    }

    section.first {
        padding-top: 75px;
    }
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #18bc9c;
    background: #fff;
}


footer {
    color: #fff;
    background: #5fbcd3;
    background-image: url("../img/connectors_layer1.png");
    background-position: 200px 800px;
    padding: 20px;
    font-size: 15px;
    
}

footer a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

footer a:hover {
    color: #f39c12;
    text-decoration: none;
}

footer a:focus {
    color: #f39c12;
    text-decoration: none;
}

footer a:active {
    color: #f39c12;
    text-decoration: none;
}


.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: 0;
}

/* MOBILE VIEW */
@media(max-width:456px){
    
    body {
        font-size: 1.4em !important;
    }
    
    header .intro-text .skills {
        font-size: 2.2em;
        line-height: 1em;
    }
    
    header .container {
        padding-top: 220px;
        padding-bottom: 100px;
    }
    
    .logo {
        max-width: 150px;
        padding-top: 8px;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
    }
    
    .navbar-nav>li>a {
        padding-top: 4px;
        padding-bottom: 4px;  
    }
        
    .navbar-collapse {
        margin-top: 20px;
    }
    
    .btn-nav {
        
    }
    
}

/* TABLET VIEW */
@media(max-width:767px) {
    
    body {
        font-size: 1.6em;
    }
    
    header .intro-text .skills {
        font-size: 2.2em;
        line-height: 1em;
    }
    
    header .container {
        padding-top: 200px;
        padding-bottom: 0px;
    }
    
    .navbar-fixed-top {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color:#fff;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }
    
    .startinfo {
        padding-top: 10px !important;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }
    
    .btn-nav {
        padding: 11px 16px; 
        margin-left: 6px;
        margin-right: 6px;
        border-radius: 6px;
    }
    
    .navbar-collapse {
        margin-top: 10px;
    }
    
    .space {
        margin-bottom: 7px;
    }
    
    section.blog {
        padding-top: 70px;
    }
}


@media(min-width:768px) {
    
    body {
        font-size: 1.8em;
    }
    
    header .container {
        padding-top: 220px;
        padding-bottom: 0px;
    }

    header .intro-text .skills {
        font-size: 3.2em;
        line-height: 1.2em;
    }
    
    .btn-nav {
        padding: 11px 16px !important; 
        margin-top:8px;
    }

    .navbar-fixed-top {
        padding-top: 10px;
        padding-bottom: 10px;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        background: rgb(255, 255, 255); /* Fall-back for browsers that don't support rgba */
        background: rgba(255, 255, 255, 1.0);
        padding: 0px 0px 0px 0px;

        -webkit-transition: all 1s linear;
        -moz-transition: all 1s linear;
        -ms-transition: all 1s linear;
        -o-transition: all 1s linear;
        transition: all 1s linear;
            
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
    
    .btn-nav {
        padding: 11px 16px !important; 
        margin-top: 8px;
        margin-left: 2px;
        margin-right: 2px;
        border-radius: 6px;
    }
    
    .space {
        margin-left: 15px;
    }
    
    section.about h3 {
        color: #111;
        font-weight:500;
        font-size: 1.2em;
        padding-top:30px !important;
        padding-bottom: 20px;
    }
    
}